.input_control {
  display: block;
  height: calc(1.25rem + 5px);
  padding: 0.2rem 0.4rem;
  font-family: var(--source-sans-pro);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--border-color-normal);
  border-radius: 3px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: var(--text-color);
    background-color: var(--white);
    border-color: var(--border-color-focus);
    outline: 0;
    box-shadow: 0 0 0 2px rgba(46, 49, 49, 0.25);
  }
  &:disabled,
  &:read-only {
    background-color: var(--disabled-bg-color);
    border: 1px solid var(--disabled-border-color);
    color: var(--disabled-text-color);
  }
}

.input_control::placeholder {
  color: var(--placeholder-text);
  opacity: 1; /* Firefox */
  text-align: left !important;
}

.input_control:-ms-input-placeholder,
.input_control::-ms-input-placeholder {
  /* Internet Explorer 10-11 and Edge */
  color: var(--placeholder-text);
  text-align: left !important;
}

.input_control:placeholder-shown {
  direction: ltr !important;
  text-align: left !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
